<div>
  <% @posters.each do |poster| %>
      <%= render :template => 'posters/show', :locals => {:poster => @poster = poster} %>
      <% if @posters.last != poster %>
          <hr/>
      <% end %>
  <% end %>

  <% if can? :manaage, :all %>
      <%= button_to "#{Poster.human_attribute_name(:new)}", new_poster_path, :class => "btn btn-primary" %>
  <% end %>
</div>
