<div>
  <%= render :partial => "posters/button_to_new" %>

  <% @posters.each do |poster| %>
      <%= render :template => 'posters/show', :locals => {:poster => @poster = poster} %>
      <% if @posters.last != poster %>
          <hr/>
      <% end %>
  <% end %>

  <% if !@posters.blank? %>
      <%= render :partial => "posters/button_to_new" %>
  <% end %>
</div>
