<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @user.name %>, ласкаво просимо!</h1>

<p>
  Ви зареєструвались на сайті <a href="<%= @url %>">МахноПАБу</a>.
</p>

<br>
<p>Дякуємо, що приєдналися! Гарного Вам дня!</p>
</body>
</html>