<% @articles.each_slice(3) do |partition| %>
    <div class="row">
      <% partition.each do |article| %>
          <div class="span4">
            <% cache ("article_image##{article.id}") do %>
                <%= image_tag article.picture, :class => "img-rounded", :width => "100%" %>
            <% end %>
            <h3><%= link_to article.name, article_path(article) %></h3>
          </div>
      <% end %>
    </div>
<% end %>

<%= paginate @articles %>