<p>
  <b><%= t 'activerecord.attributes.user.email' %>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= t 'activerecord.attributes.user.roles' %>:</b>
  <%= @user.roles.map { |r| r.name }.join ', ' %>
</p>