<div class="row-fluid">
  <div class="span9">
    <div id="home">
      <%= render :partial => 'layouts/contact' %>
    </div>
  </div>
  <div class="span3">
    <%= render :partial => 'layouts/poster' %>
  </div>
</div>