<div>
  <%= render :partial => "photos/button_to_new" %>

  <% @photos.each do |photo| %>
      <%= render :template => 'photos/show', :locals => {:photo => @photo = photo} %>
      <% if @photos.last != photo %>
          <hr/>
      <% end %>
  <% end %>

  <% if !@photos.blank? %>
      <%= render :partial => "photos/button_to_new" %>
  <% end %>
</div>
