<h1><%= t :table_reservations %></h1>
<%= render 'filter_form' %>

<br /><br />

<div id='table_reservations'>
  <%= render 'table_reservations', locale: { table_reservations: @table_reservations = @table_reservations } %>
</div>

<br />

<%= link_to (t 'activerecord.attributes.table_reservation.new'), new_table_reservation_path %>
