
    <div class="row">
      <div class="span9 left">
        <p>© <%= t :title %> 2013</p>
      </div>
      <div class="span3 right">
        <div>
          <p><%= t :partners %></p>
          <address style="margin-top: 10px;">
            <a href="http://withmyfriends.org/" target="_blank">
              <span class="span-middle"><img src="<%= asset_path "withmyfriends_logo.png" %>" width="70px"/></span>
              <span class="with-my-friends-title span-middle partner-text">
              <span style="color: #44a3db;">With</span><span style="color: #61b239;">My</span><span style="color: #ef7f1b;">Friends</span>
                  </span>
            </a>
          </address>
        </div>
      </div>
    </div>