<div class="carousel slide" id="slide-carousel">
  <div class="carousel-inner">
    <% @slides.each do |slide| %>
        <% if @slides.first == slide %>
            <div class="item active">
        <% else %>
            <div class="item">
        <% end %>
        <% cache ("slide_partial##{slide.id}") do %>
            <%= image_tag slide.url %>

            <div class="carousel-caption">
              <h4><%= slide.title %></h4>

              <p><%= slide.description %></p>
            </div>
        <% end %>
        </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#slide-carousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#slide-carousel" data-slide="next">›</a>
</div>